<h1>Cakes</h1>

 <div id = "products">
            <div class = "procontainer">
                <div class = "thrty">
                    <a href = "/cakes">
                        <div class = "pro">
                            <img src= "cake1.jpg" class="pix">
                        </div>
                        <div class "protitle">
                            Chocolate Jello Cake $29.95
                        </div>
                    </a>
                </div>
                
                <div class = "thrty">
                        <a href = "/cookies">
                            <div class = "pro">
                                <img src = "cake3.jpg" class ="pix">
                            </div>
                            <div class "protitle">
                                Oreo Mint Ice Cream Cake $29.95
                            </div>
                        </a>
                </div>
                <div class = "thrty">
                        <a href = "/muffins">
                            <div class = "pro">
                                <img src="cake4.jpg" class = "pix" alt="picture">
                            </div>
                            <div class "protitle">
                                Blueberry Cheese Cake $29.95
                            </div>
                        </a>
                </div>
            </div>
        </div>