<h1>Cookies</h1>

 <div id = "products">
            <div class = "procontainer">
                <div class = "thrty">
                    <a href = "/cakes">
                        <div class = "pro">
                            <img src= "cookie1.jpg" class="pix">
                        </div>
                        <div class "protitle">
                            Chocolatechip $1.85
                        </div>
                    </a>
                </div>
                
                <div class = "thrty">
                        <a href = "/cookies">
                            <div class = "pro">
                                <img src = "cookie2.jpg" class ="pix">
                            </div>
                            <div class "protitle">
                                Peanutbutter Chocolate $1.85
                            </div>
                        </a>
                </div>
                <div class = "thrty">
                        <a href = "/muffins">
                            <div class = "pro">
                                <img src="cookie7.jpg" class = "pix" alt="picture">
                            </div>
                            <div class "protitle">
                                Redvelvet $1.85
                            </div>
                        </a>
                </div>
            </div>
        </div>

        <div id = "products">
            <div class = "procontainer">
                <div class = "thrty">
                    <a href = "/cakes">
                        <div class = "pro">
                            <img src= "cookie4.jpg" class="pix">
                        </div>
                        <div class "protitle">
                            Cookie Monster $1.85
                        </div>
                    </a>
                </div>
                
                <div class = "thrty">
                        <a href = "/cookies">
                            <div class = "pro">
                                <img src = "cookie5.jpg" class ="pix">
                            </div>
                            <div class "protitle">
                                Double Chocolatechip Almond $1.85
                            </div>
                        </a>
                </div>
                <div class = "thrty">
                        <a href = "/muffins">
                            <div class = "pro">
                                <img src="cookie6.jpg" class = "pix" alt="picture">
                            </div>
                            <div class "protitle">
                                Froster X-mas Sugar Cookie $1.85
                            </div>
                        </a>
                </div>
            </div>
        </div>