<main id = "maincont">
        <div class = "banner">
            <a href="" class"pop-up">
                <img src = "bakedgoods.jpg" class = "desktop-banner">
                <img src= "" class = "mobil-banner">
            </a>
        </div>

        <!-- this is where the products are being displayed-->

        <div id = "products">
            <div class = "procontainer">
                <div class = "thrty">
                    <a href = "/cakes">
                        <div class = "pro">
                            <img src= "cake.jpg" class="pix">
                        </div>
                        <div class "protitle">
                            Cakes
                        </div>
                    </a>
                </div>
                
                <div class = "thrty">
                        <a href = "/cookies">
                            <div class = "pro">
                                <img src = "cookie.jpg" class ="pix">
                            </div>
                            <div class "protitle">
                                Cookies
                            </div>
                        </a>
                </div>
                <div class = "thrty">
                        <a href = "/muffins">
                            <div class = "pro">
                                <img src="muffin.jpg" class = "pix" alt="picture">
                            </div>
                            <div class "protitle">
                                Muffins
                            </div>
                        </a>
                </div>
            </div>
        </div>

        <!-- this section will include the about us-->

        <div id = "about">
            <div class = "procontainer aligncent">
                <div class = "callout">
                    <div class = "callout-cont">
                        <h3 class = "motto">We chose the finest ingreedients </h3>
                        <p>
                       Queens Bake House was founded with the goal of providing our customers with classic American baked goods in a warm, friendly atmosphere. By baking all our products on-site, we fill our stores with the delicious smells of fresh cakes, cookies and muffins to bring back that delightful, warm feeling every time of the year. Each day, we bake everything from scratch using the finest ingredients.
                        </p>

                    </div>
                </div>
            </div>
        </div>
   

