<!DOCTYPE html>
<html>

<head>
<title class = "title">Queens Bake House</title>
<link rel="icon" href="qbhlogo.png" type="image/gif" sizes="16x16">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header class = "banner">
        <div class = "headercontainer">
            <div class = "twnty">
                <h1>
                    <a href="/">
                        <img src="qbhlogo.png" class = "centerit" alt="QueensBakeHouse">
                    </a>
                </h1>
            </div>
            <div class = "sxty">
                <ul class = "nav">
                    <li><a href= "/" class = "links">Home</a></li>
                    <li><a href="/cakes" class = "links">Cakes</a></li>
                    <li><a href="/cookies" class = "links">Cookies</a></li>
                    <li><a href="/muffins" class = "links">Muffins</a></li>
                </ul>

            </div>
            <div class = "twnty">
                <div class ="icons">
                    <div class = "ic">
                        <a href="" class ="icx">
                                <i class="fa fa-user-o"></i>
                        </a>
                    </div>
                    <div class = "ic">
                        <a href="" class ="icx">
                                <i class="fa fa-search"></i>
                        </a>
                    </div>
                    <div class = "ic">
                        <a href="" class ="icx">
                                <i class="fa fa-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <body>
    <%=yield%>
    </body>

      <div id ="contact">
            <div class="footlogo">
                <div class="footlogoicon">
                   <img src="qbhlogo.png">
                </div>
                <div class = "foot-newsletter">
                    <div class="footcontain">
                        <div class = "module">
                            <h4 class ="joinus">Catering Info?</h4>
                        </div>
                        <div class = "module">
                            <form class = "action" action="/" method="POST">
                                <input class = "namez" name ="name" placeholder="Name">
                                <input class = "emailz" name ="emailz" placeholder="Email">
                                <button class = "submit">Submit</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <footer>
        <div class ="cont foot-container">
        <div class="thrty">
        <div class = "foot-logo"><img src="qbhlogo.png"></div>
        </div>
        <div class="thrty mo-fty">
        <div class="foot-menu">
        <ul>
        <li><a href="/" class = "foot-link">About</a></li>
        <li><a href="/" class = "foot-link">Awards</a></li>
        <li><a href="/" class = "foot-link">News</a></li>
        <li><a href="/" class = "foot-link">Catering</a></li>
        <li><a href="/" class = "foot-link">Comments</a></li>
        <li><a href="/" class = "foot-link">Careers</a></li>
        </ul>
        </div>

        </div>
        <div class="thrty mo-fty">
        <div class="foot-social">
        <div class="fs-cont">
        <p class = "right">Follow us!</p>
        <ul>
        <li>
        <a herf="/"  title="QBHfacebook">
        <i class="fa fa-facebook"></i>
        </a>
        </li>
        <li>
        <a herf="/" target="" title="QBHfacebook">
        <i class="fa fa-twitter"></i>
        </a>
        </li>
        <li>
        <a herf="/" target="" title="QBHfacebook">
        <i class="fa fa-instagram"></i>
        </a>
        </li>
        <li>
        <a herf="/" target="" title="QBHfacebook">
        <i class="fa fa-linkedin"></i>
        </a>
        </li>
        <li>
        <a herf="/" target="" title="QBHfacebook">
        <i class="fa fa-facebook"></i>
        </a>
        </li>
        </ul>
        </div>
        </div>
        </div>

        </div>
        <div class="container copyright"></div>
        </footer>

</html>