<h1>Muffins</h1>


 <div id = "products">
            <div class = "procontainer">
                <div class = "thrty">
                    <a href = "/cakes">
                        <div class = "pro">
                            <img src= "cup2.jpg" class="pix">
                        </div>
                        <div class "protitle">
                            Red Velvet $2.25
                        </div>
                    </a>
                </div>
                
                <div class = "thrty">
                        <a href = "/cookies">
                            <div class = "pro">
                                <img src = "cup1.jpg" class ="pix">
                            </div>
                            <div class "protitle">
                                Mint $2.25
                            </div>
                        </a>
                </div>
                <div class = "thrty">
                        <a href = "/muffins">
                            <div class = "pro">
                                <img src="cup3.jpg" class = "pix" alt="picture">
                            </div>
                            <div class "protitle">
                                Blueberry $2.25
                            </div>
                        </a>
                </div>
            </div>
        </div>>